table {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: solid 1px lightgrey;
  text-align: center;
}
#result {
  text-align: right;
  width: 50px;
  height: 40px;
}
